[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/mua900/SDL.git
	shallow = true
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/mua900/SDL_image.git
	shallow = true
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/mua900/SDL_ttf.git
	shallow = true
[submodule "vendor/SDL_mixer"]
	path = vendor/SDL_mixer
	url = https://github.com/mua900/SDL_mixer.git
	shallow = true
[submodule "vendor/SDL_net"]
	path = vendor/SDL_net
	url = https://github.com/mua900/SDL_net.git
	shallow = true
